<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pniew.mentalahasz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalaHaSZ">
        <activity android:name=".module_web.WebActivity"
            android:parentActivityName=".main_menu.MainActivity"
            android:label="Download a package"/>
        <activity
            android:name=".module_periodization.ListOfThingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main_menu.MainActivity"
            android:label="Periodization Items"/>
        <activity
            android:name=".module_periodization.addeditthings.AddEditThingActivity"
            android:parentActivityName=".module_periodization.ListOfThingsActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Add/Edit Periodization Item"/>
        <activity
            android:name=".module_learn.gallery.PictureGalleryActivity"
            android:parentActivityName=".module_learn.choosing.ChooseActivity"/>
        <activity
            android:name=".module_learn.choosing.ChooseActivity"
            android:parentActivityName=".main_menu.MainActivity"/>
        <activity
            android:name=".module_test.TestActivity"
            android:parentActivityName=".main_menu.MainActivity"
            android:label="The Test"/>
        <activity
            android:name=".intermodule_single_picture_activity.LearnShowAddActivity"
            android:parentActivityName=".module_learn.gallery.PictureGalleryActivity"
            android:windowSoftInputMode="adjustResize"/>


        <activity android:name=".main_menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".module_web.PackDownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>